* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: white;
  font-family: 'Poppins', sans-serif;
}

html {
  background: linear-gradient(130.02deg, #628e75 0.66%, #1a4855 83.32%);
  height: 100vh;
}

body {
  height: 100%;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 3%;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 32px 0;
}

header div > img {
  height: 65px;
}

header a {
  margin-left: 32px;
}

a {
  text-decoration: none;
}

#text {
  max-width: 445px;
}

#img {
  text-align: right;
}

main {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main > div {
  width: 50%;
}

main img {
  width: 80%;
}

main div > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

main button {
  outline: none;
  border: none;
  width: 50%;
  height: 48px;
  -webkit-transform: skewX(-25deg);
          transform: skewX(-25deg);
  margin-right: 12px;
  cursor: pointer;
}

main button span {
  display: block;
  -webkit-transform: skewX(25deg);
          transform: skewX(25deg);
  font-weight: 500;
  font-size: 16px;
}

main button:first-of-type {
  background: #658e76;
}

main button:last-of-type {
  background: transparent;
  border: 4px solid #658e76;
}

h3 {
  font-weight: bold;
  font-size: 20px;
}

h1 {
  font-weight: 900;
  font-size: 68px;
  line-height: 109%;
  margin-bottom: 16px;
}

p {
  font-weight: normal;
  font-size: 16px;
  margin-bottom: 40px;
  line-height: 180%;
}

@media screen and (max-width: 750px) {
  header {
    padding: 12px 0;
  }
  header div:first-of-type {
    width: 20%;
  }
  header div > img {
    width: 175%;
  }
  header div a {
    margin-left: 24px;
  }
  main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  main > div {
    width: 100%;
  }
  main h1 {
    font-size: 52px;
    margin-bottom: 8px;
  }
  main h3 {
    font-size: 18px;
  }
  main p {
    margin-bottom: 24px;
  }
  main button:last-of-type {
    display: none;
  }
  #img {
    text-align: center;
    height: 40%;
  }
  #img img {
    max-width: 280px;
    width: 60%;
  }
}
/*# sourceMappingURL=index.css.map */