* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.container {
	max-width: 1280px;
	width: 100%;

	display: flex;

	padding: 0 4%;
	margin: 0 auto;
}

body > main {
	background-color: #d7d4ff;

	padding: 64px 0;

	min-height: 560px;

	.container {
		flex-direction: row;
		align-items: center;
		justify-content: space-between;

		> div {
			width: 50%;
			max-width: 400px;
		}
	}

	img {
		width: 45%;
	}

	h1 {
		font-size: 40px;
		font-weight: 400;
		font-family: 'Merriweather', serif;

		color: #2b2b2b;
	}

	p {
		font-family: 'Lato', sans-serif;
		color: #555555;
		font-weight: 400;
		font-size: 19px;

		margin-top: 20px;
		margin-bottom: 48px;
	}

	button {
		font-family: 'Lato', sans-serif;
		font-weight: 700;
		color: white;
		font-size: 16px;

		outline: 0;
		border: 0;
		border-radius: 5px;

		cursor: pointer;

		width: 120px;
		height: 40px;

		box-shadow: 0px 5px 5px rgba(23, 23, 23, 0.1);

		background-color: #6c63ff;
	}
}

section {
	padding: 128px 0;

	.container {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;

		> div {
			height: 340px;

			width: 100%;
			max-width: 240px;

			margin: 0 64px;
			margin-bottom: 64px;

			box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);

			header {
				height: 170px;
			}

			main {
				padding: 24px 32px;
				h1 {
					font-weight: 700;
					font-family: 'Merriweather', serif;
					color: #2b2b2b;
					font-size: 24px;
					line-height: 30px;

					margin-bottom: 8px;
				}

				p {
					font-family: 'Lato', sans-serif;
					font-weight: 400;
					color: #555555;
					font-size: 14px;
					line-height: 26px;
				}
			}
		}
	}
}

footer {
	background: #d7d5ff;

	padding: 64px 0;

	.container {
		flex-direction: column;
		align-items: center;
	}

	h1 {
		font-weight: 400;
		font-family: 'Merriweather', serif;

		margin-bottom: 48px;

		text-align: center;
	}

	form {
		display: flex;
		flex-direction: column;
		align-items: center;

		width: 100%;

		> * {
			margin-bottom: 16px;

			width: 100%;
			max-width: 480px;

			background: #ffffff;
			border-radius: 6px;

			outline: none;
			border: none;

			height: 48px;
			padding: 8px 16px;

			font-weight: 400;
			font-family: 'Lato', sans-serif;

			resize: none;
		}

		textarea {
			height: 160px;
			line-height: 20px;
		}

		input[type='submit'] {
			margin-top: 16px;

			color: white;

			background: #6c63ff;
			box-shadow: 0px 5px 5px rgba(23, 23, 23, 0.1);
			border-radius: 5px;

			font-weight: 700;
			font-family: 'Lato', sans-serif;

			font-size: 20px;

			cursor: pointer;
		}
	}
}

@media screen and (max-width: 576px) {
	body > main {
		padding: 48px 0;
	}

	body > main .container {
		flex-direction: column;
		justify-content: center;

		img {
			margin-top: 48px;
			width: 70%;
		}

		> div {
			width: 100%;
		}
	}
}

@media screen and (max-width: 500px) {
	section .container > div {
		height: auto;
		margin: 0;
		margin-bottom: 64px;
	}
}
